<section class="formSection">
  <h2>Open your heart and contribute a message!</h2>
  <form method="POST" action="/new">
    <p>
      <label for="usernameInput">Name:</label>
      <input type="text" id="usernameInput" name="username" required />
    </p>
    <p>
      <label for="messageInput">Message:</label>
      <textarea id="messageInput" name="messageText"></textarea>
    </p>
    <button class="sendBtn" type="submit">Send</button>
  </form>
</section>
