<html lang="en">
  <head>
    <title>L&#9829;veLetter</title>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>L&#9829;veLetter</h1>
    </header>
    <main>
      <div class="contentArea">
      <%- include('form') %> <% messages.forEach((message) => { %> <%- include('messages', {message: message} ) %> <%} ); %>
      </div>
    </main>
  </body>
</html>
