<section class="messageSection">
  <div class="messageUserTimeDiv">
    <p class="userBox"><%= message.username %></p>
    <p class="timeBox"><%= message.created_at %></p>
  </div>
  <p class="messageBox"><%= message.message %></p>
</section>
