<section class="messageSection">
  <div class="messageUserTimeDiv">
    <p class="userBox"><%= message.user %></p>
    <p class="timeBox"><%= message.added %></p>
  </div>
  <p class="messageBox"><%= message.text %></p>
</section>
