html,
body {
  max-height: 100vh;
  width: 100vw;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: rgb(238, 212, 236);
  display: grid;
  grid-template-rows: 100px auto;
  justify-content: center;
  line-height: 1.8;
}

header {
  display: flex;
  grid-row: 1/2;
  justify-content: center;
  font-family: "DotGothic16", sans-serif;
  font-size: 30px;
  align-self: center;
}

main {
  grid-row: 2/3;
  font-size: 11px;
}

.contentArea {
  display: grid;
  gap: 25px;
  border: 4px solid rgba(7, 9, 105, 1);
  border-radius: 5px;
  width: 530px;
  padding: 3vw 3vw;
  margin: 100px 0px;
  max-height: 55vh;
  overflow: auto;
  background-color: rgb(248, 239, 239);
  box-shadow: 10px 10px 8px rgba(7, 9, 105, 1);
}

.formSection {
  border: 2px solid black;
  padding: 1vw 3vw;
  border-radius: 10px;
}

.formSection h2 {
  text-align: center;
}

/* MESSAGE */
.messageSection {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1vw 3vw;
}

.messageUserTimeDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .contentArea {
    width: 420px;
    padding: 9vw;
  }
}

@media (max-width: 580px) {
  .contentArea {
    width: 380px;
  }

  main {
    font-size: 10px;
  }
}
